
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:ital,wght@0,900;1,300&display=swap');


:root {
   --orange-color:#DA722C;
   --blue-color:#057ADA;
   --sky-color:#E8F7FB;
   --navy-blue-color:#023047;
   --black-color:#070917;
   --light-blue-color:#6F7DFB
}  